body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.m-sm-0 {
  margin-bottom: 0px;
}

.border_bottom_blue {
  border-bottom: 1px solid #31708f;
}

/* Custom Jumbotron */
.jumbotron-small {
  padding-top: 10px;
  padding-bottom: 15px;
}

/* Sidebar */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    bottom: 0;
    padding-left: 30px;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #8EA0A9;
  }
}

/* Main */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #D9EDF7;
}